<div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
  <div class="container">
    <div class="header-body text-center mb-7">
      <% if (locals.activePage && activePage === 'login') { %>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
          <h1 class="text-white">Welcome to Argon Dashboard Pro NodeJs Live Preview.</h1>
          <h2 class="text-white">
            Kickstart your NodeJs web app like a PRO
          </h2>

          <p class="text-lead text-light mt-3 mb-0">
            Log in and see how you can save more than 90 hours of work with CRUDs for managing: #users, #roles, #items, #categories, #tags and more.
          </p>
        </div>
        <div class="col-lg-5 col-md-6">
          <h3 class="text-lead text-white mt-5 mb-0">
              <strong>You can log in with 3 user types:</strong>
          </h3>
          <ol class="text-lead text-light mt-3 mb-0">
              <li>Username admin@argon.com Password secret</li>
              <li>Username creator@argon.com Password secret</li>
              <li>Username member@argon.com Password secret</li>
          </ol>
        </div>
      </div>
      <% } else { %>
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-white">Use these awesome forms to login or create new account in your project for free.</p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>